@import "tailwindcss";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee var(--marquee-duration, 80s) linear infinite;
  min-width: 100%;
}

/* Custom Scrollbar for Dark Mode */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
  /* Slate 900 */
}

::-webkit-scrollbar-thumb {
  background: #334155;
  /* Slate 700 */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
  /* Slate 600 */
}